<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <script src="/static/status.js"></script>
    <title>On Air App</title>
  </head>
  <body>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">On Air Tracker</span> 
  <span>
    <div id='Messages'></div>
    <button type="button" id="#openPreferences" class="btn btn-secondary nav-button" data-toggle="modal" data-target="#preferences">User Preferences</button>
    <button type="button" class="btn btn-primary shut-down nav-button">Shut Down</button>
  </span>
</nav>

<div class='container'>
  <div class='row'>
  {% for key, value in onCallDict.items(): %}
    <div class='col-md'>
      <div id='{{ key }}' class="card on-air-card">
        {% if value == 'offCall' %}
        <img class="card-img-top" alt="Card image cap" src='/static/green.png'>
        {% elif value == 'onCall' %}
        <img class="card-img-top" alt="Card image cap" src='/static/red.png'>
        {% else %}
        <img class="card-img-top" alt="Card image cap" src='/static/blue.png'>
        {%endif%}
        <div class="card-img-overlay justify-content-center">
          <h4 class="text-center time-remaining-overlay text-white"></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ key }} is {% if value!=True %}not{%endif%} on a call</h5>
          <div class="btn-group btn-group-lg call-btn" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger status-btn timeable" name='on-call-btn' data-btn-type='On'>On</button>
            <button type="button" class="btn btn-primary status-btn timeable" name='focus-btn' data-btn-type='Focus'>Focus</button>
            <button type="button" class="btn btn-success status-btn" name='off-call-btn' data-btn-type='Off'>Off</button>
          </div>

          <!-- For use on timed statuses -->
          <div class='timer-div' style="display:none;">
            <small class='form-text text-muted'>For how long?</small>
            <div class="input-group mb-3">
              <input type="number" name='timer' class="form-control status-time-input" step='1' placeholder='Minutes'/>
              <div class="input-group-append">
                <btn class='btn btn-info submit-timer-btn' name='submit-timer-btn'>Submit</btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%endfor%} 
  </div>
  <div class="modal fade" id="preferences" tabindex="-1" role="dialog" aria-labelledby="preferences" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="title">User Preferences</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="UserSelect">Select Your User:</label>
            <select class="form-select form-select-lg mb-3 form-control" id="UserSelect">
              <option value="" disabled>Select</option>
              {% for key, value in onCallDict.items(): %}
              <option value="{{key}}">{{key}}</option>
              {%endfor%} 
            </select>
          </div>

          <div class="form-group">
            <label for="ScreensaverSelect">Select Screensaver:</label>
            <select class="form-select form-select-lg mb-3 form-control" id="ScreensaverSelect">
              <option value="" disabled>Select</option>
              {% for value in screensavers: %}
              <option value="{{value}}">{{value}}</option>
              {%endfor%} 
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick='postUpdatePrefs()'>Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick='setPrefs()'>Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
